#button {
    margin-top: 10px;
    background-color: white;
    border: 2px solid black;
    height: 25px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}